body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: url('../img/galaxy.jpg') no-repeat center center fixed;
    background-size: cover;
    color: white;
}

header {
    position: absolute;
    top: 0;
    width: 100%;
    padding: 20px;
    z-index: 10;
    background: rgba(0, 0, 0, 0.7);
    box-sizing: border-box;
}

header .logo img {
    width: 150px;
}

header nav ul {
    list-style: none;
    padding: 0;
    text-align: right;
}

header nav ul li {
    display: inline;
    margin-left: 30px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
}

header nav ul li a:hover {
    color: #f39c12;
}

.projects {
    margin-top: 150px;
    text-align: center;
}

.projects h2 {
    font-size: 2.5em;
    margin-bottom: 40px;
}

.projects-gallery {
    display: flex;
    justify-content: space-around;
}

.project {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    width: 30%;
    text-align: center;
    transition: transform 0.3s ease;
}

.project:hover {
    transform: translateY(-10px);
}

.btn-view {
    text-decoration: none;
    background-color: #f39c12;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.2em;
    transition: background-color 0.3s ease;
}

.btn-view:hover {
    background-color: #e67e22;
}

footer {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
    font-size: 1em;
    color: white;
}
